*, *::before, *::after{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    color: white;
    font-family: Gotham Rounded, sans-serif;
    padding-bottom: 50px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 37vh;
    width: 100vw;
    background: linear-gradient(to top, #4fbce0, #528bd4);
    display: flex;
    align-items: center;
}
.container-bottom{
    transform: translateY(-89px);
    background-color: white;
    border-radius: 100px 0 0 0 ;
    width: 110vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    height: 67vh;
    padding-top: 70px;
    overflow: visible;
    
}
.header-title{
    transform: translateY(-20px);
    width: 80%;
    margin: auto;
    letter-spacing: 3px;
    word-spacing: 10px;
}

.todoentry{
    margin: 0 auto;
}
.todoentry input{
    background-color: #528bd4;
    border: 0;
    height: 55px;
    width: 250px;
    padding-right: 52px;
    border-radius: 30px;
    color: white;
    transform: translateX(-35px);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.todoentry input::placeholder{
    color: white;
    font-size: 1rem;
    font-family: Gotham Rounded, sans-serif;
    font-weight: 501;
}
input:focus {
    outline: none;
}
input {
    caret-color: black;
    padding-left: 15px;
    font-size: 1rem;
    font-weight: 500;
}
.todoentry button{
    background-color: #ED8F03;
    height: 55px;
    width: 90px;
    position: absolute;
    transform: translateX(-85px);
    border-radius: 30px;
    border: 0;
    color: white;
    font-size: 1rem;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    transition: 0.2s;
}
ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    width: 50%;
    min-height: 340px;
    margin-bottom: 100px;
    place-items: center;
}
li{
    list-style-type: none;
    background-color: #528bd4;
    height: 50px;
    width: 200px;
    border-radius: 0 20px 20px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 80% 20%;
    place-items: center;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    transition: 0.2s;
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: hidden;
}
li::before{
    content: "❌";
    height: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    transform: translateX(-115px);
    border-radius: 15px;
    border: 1.5px solid black;
    box-shadow: -10px 0px 18px -11px rgba(66, 68, 90, 1);
    font-size: 1.4rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    overflow: visible;
}
ul li.checked{
    background-color: #417fd1;
    text-decoration: line-through;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    transition: 0.2s;
    cursor: pointer;
}
ul li.checked::before{
    color: black;
    font-size: 1.5rem;
    content: "✔️";
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}
li:hover{
    transform: translateX(-10px);
    overflow: visible;
}
.container-bottom *, .container-bottom:hover *{
    overflow: visible;
}
button:hover{
    background-color: #d88303;
    cursor: pointer;
}

@media (max-width:1000px) {
    ul{
        grid-template-columns: repeat(2,1fr);
        display: grid;
        gap: 45px;
        width: 90%;
        min-height: 340px;
        margin-bottom: 100px;
        place-items: center;
    }
}
@media (max-width:500px) {
    ul{
        grid-template-columns: repeat(1,1fr);
        display: grid;
        gap: 45px;
        width: 90%;
        min-height: 340px;
        margin-bottom: 100px;
        place-items: center;
    }
}
@media (max-height:700px) {
    .container-bottom{
        transform: translateY(0px);
    }
}
ul li span{
    
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
}